{% load static %}
{% load user_tags %} 
<!doctype html>
<html lang="en" data-bs-theme="auto">
  <head>
    <script src="{% static '/assets/js/color-modes.js'%}"></script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Administración">
    <meta name="author" content="MangelRyujin.">
    <title>Administración | {% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@docsearch/css@3">
    <!-- Charts -->
    
    <!-- Bootstrap -->
    <link href="{% static '/assets/dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.min.css" rel="stylesheet">

    <!-- Bootstrap Select -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.14.0-beta2/css/bootstrap-select.min.css">

    <!-- Custom styles for this template -->
    <link href="{% static '/assets/css/dashboard.css'%}" rel="stylesheet">

    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />

    
  </head>
  <body>
      <div class="container mt-4 py-5">
        <div class="row">
            <header class="col-12 text-center">
                <h2 class="h5 mb-4">
                  Complete el formulario para cambiar la contraseña</h2>
              </header>
          
           
          </div>
           <div class="row" id="response">
              {% include "change_password/change_password_form.html" %}
            </div>
      </div>
      <script src="{% static '/assets/js/htmx.min.js' %}"></script>
</body>
</html>
